<!-- FOOTER -->
        <footer class="footer">
            <a href="www.instagram.com" target="_blank">
            <img class="footer__social" src="/images/icons/instagram.png" alt="Instagram">
            </a>

            <a href="www.twitter.com" target="_blank">
            <img class="footer__social" src="/images/icons/twitter.png" alt="Twitter">
            </a>


            <a href="www.facebook.com" target="_blank">
            <img class="footer__social" src="/images/icons/facebook.png" alt="Facebook">
            </a>

            <p class="footer__text-paragraph">© 2020 by Alice Antoninova for Hexterity, with warm thanks to <a class="footer-link" href="www.czechitas.cz" target="_blank">Czechitas.cz</a>
            </p>
        </footer>        
</body>
</html>